:root {
  --orange: hsl(35, 77%, 62%);
  --red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --blue: hsl(233, 8%, 79%);
  --grey-blue: hsl(236, 13%, 42%);
  --dark-blue: hsl(240, 100%, 5%);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  p {
    font-size: 15px;
  }
}

.App {
  margin: 4rem;
}
